[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wget = "*"
iptcinfo3 = "*"
nltk = "*"
pillow = "*"
tensorflow = "*"
numpy = "*"
pandas = "*"
cv = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.7"
